{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

    <div class="row">
        <!-- left sidebar -->
        {% include 'dashboard/sidebar.html' %}

        <!-- right side content -->
        <div class="col-md-9">
            {% if perms.auth.view_user %}
                <h2>Add New User</h2>
                <form action="{% url 'add_user' %}" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-warning">Submit</button>
                </form>
            {% else %}
                <h1>You do not have premission to view this page </h1>
            {% endif %}
        </div>

    </div>
{% endblock %}
